.Card {
    @apply filter shadow-sm transition rounded p-8 text-gray-10;

    background-color: rgba(224, 224, 230, 0.035);
    outline: none;
    border: none;
}

.Color {
    @apply bg-primary-gradient;
}

.Small {
    @apply p-4;
}